<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Toots by author</title>
</head>
<body>
<h3>Toots filtered by author</h3>
<ul>
{%- for toot in toots recursive %}
    {% set author_name = authors[toot['author_id']] %}
    <li>
        <span><a href="/author/{{ toot.author_id }}">{{ author_name }}</a></span>
        <span>:</span>
        <span>{{ toot.text }}</span>
    {%- if toot.children -%}
        <ul>
            {{ loop(toot.children) }}
        </ul>
    {%- endif %}
    </li>
{%- endfor %}
</ul>
</body>
</html>
